[submodule "learn-go-with-tests"]
	path = learn-go-with-tests
	url = https://github.com/tomtomdurrant/learn-go-with-tests.git
[submodule "go-getting-started"]
	path = go-getting-started
	url = https://github.com/tomtomdurrant/go-getting-started.git
[submodule "golang-temperature-converter-cli"]
	path = golang-temperature-converter-cli
	url = https://github.com/tomtomdurrant/golang-temperature-converter-cli.git
[submodule "go-cli-playbook"]
	path = go-cli-playbook
	url = https://github.com/tomtomdurrant/go-cli-playbook.git
